*{
    margin: 0px;
    padding: 0px;
}

.ParteCima{
    display: flex;
    justify-content: stretch;
    flex-flow: row nowrap;
    align-items: center;
    height: 60px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}

li{
    display: block;
    padding: 6px 9px;
    margin: 0 9px;
    position: relative;
}

a{
    font-size: 25px;
    color: rgb(40, 102, 236);
    text-decoration: none;
}

.Logo{
    font-size: 11pt;
}

.mecanismo{
letter-spacing: .01em;
}

header{
    flex: 1;
    background-color: rgb(0, 0, 0)
}

h1{
    font-size: 50px;
    height: 60px;
    padding: 60px;
    color: rgb(40, 102, 236);
}

main{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 90px;
}

h3{
    line-height: 38px;
    font-size: 39px;
    margin-top: -65px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    height: -60px;
    padding: 40px;
}

.letra{
    color: rgb(40, 102, 236);
    font-size: 25px;
}

.imagem{
    margin-left: 499px;
}

.imagen{
    display: block;
    width: 80%;
    margin-top: -159px;
}

.card2{
    display: block;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.Apresentação{
    font-size: 25px;
    margin-bottom: 99px;
}

.item{
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 1px;
}